<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://addressmanagementv2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8cec67b5-d7e2-4d7f-bccf-9e1fa4db6c3f/resourcegroups/AddressManagement/providers/Microsoft.Web/sites/AddressManagementv2</ResourceId>
    <UserName>$AddressManagementv2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://addressmanagementv2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>